.profile-info {
  position: relative;
  max-height: 100vw;
  min-height: 90px;
  margin: 20px 0 40px;
  overflow: hidden;
}

.profile-info .icon_header-write {
  width: 25px;
  height: 25px;
}

.profile-info_img {
  width: 100%;
  object-fit: contain;
}

.profile-info_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 90px 10px 10px;
}

.profile-info_txt:first-child {
  position: static;
}

.profile-info_txt p {
  margin: 0;
}

.profile-info_name {
  font-size: 21px;
  font-weight: 700;
}

.profile-info_edit {
  border: none;
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 9px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-info_edit:focus {
  outline: none;
}
