.input-bar {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 5px 0 0;
  padding: 5px;
  background-color: #f9f9fa;
  box-shadow: 0 -0.5px #b1b2b7;
}

.input-bar__input {
  flex-grow: 1;
  margin: 5px;
  padding: 5px 15px;
  font-size: 1.1rem;
  font-weight: 400;
  border: 1px solid #d9dcdf;
  overflow: hidden;
  resize: none;
  transition: height 0.2s ease;
  will-change: height;
}

.input-bar__input:focus,
.input-bar__input:active {
  outline: 1px solid #007aff;
}

.input-bar__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-bar__icon {
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
  color: #979797;
  object-fit: contain;
}

.input-bar__icon_active {
  filter: grayscale(0%);
  color: #007aff;
}
