.input-bar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0;
  background-color: #f9f9fa;
  box-shadow: 0 -0.5px #b1b2b7;
}

.input-bar__input {
  flex-grow: 1;
  margin: 5px 30px 5px 5px;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  border: 1px solid #d9dcdf;
  overflow: hidden;
  resize: none;
  transition: height 0.2s ease;
  will-change: height;
}

.input-bar__input:focus,
.input-bar__input:active {
  outline: 1px solid #007aff;
}

.input-bar__icon {
  position: absolute;
  bottom: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-bar__icon--right {
  right: -3px;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
