.header-btn {
  border: none;
  color: #007aff;
  font-size: 17px;
  background: none;
}

.header-btn:focus {
  outline: none;
  text-shadow: 0 0 2px rgba(64, 64, 64, 0.12);
}

.header-btn_back {
  height: 100%;
}

.header-btn_back .icon {
  vertical-align: bottom;
  margin-right: 5px;
}
