.footer-btn__logo {
  height: 26px;
}

.footer-btn__description {
  color: #007AFF;
  font-size: 10px;  
  padding: 0;
  margin: 0;
}

.footer-btn_passive{
  filter: grayscale(100%);
  text-align: center;
}

.footer-btn{
  text-align: center;
}