.header-icon {
  display: block;
  border: none;
  background: none no-repeat center;
  text-indent: -9999px;
}

.header-icon_add {
  width: 20px;
  height: 20px;
  background-image: url(images/plus.svg);
}

.header-icon_write {
  width: 20px;
  height: 20px;
  background-image: url(images/write.svg);
  margin-bottom: 5px;
}