.menu-action {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 10px 7px 10px;
  color: #0981e1;
  border: none;
  background-color: transparent;
}

.menu-action::after {
  margin-left: 60px;
  content: '';
  background-color: #c9c8cd;
  height: 1px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 60px);
}

.menu-action:hover,
.menu-action:focus,
.menu-action:active {
  outline: none;
}

.menu-action__content {
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 18px;
}
