.input-wrapper {
  display: block;
  margin-bottom: 20px;
}

.input-wrapper__input {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 3px;
  padding: 6px;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  border: 1px solid #d9dcdf;
}

.input-wrapper__input_file {
  display: none;
}

.input-wrapper_file {
  color: #007aff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.input-wrapper__input:focus,
.input-wrapper__input:active {
  outline: 1px solid #007aff;
}
