.header-title, .header-subtitle {
  height: 1.3em;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.header-title {
  font-size: 1.0625rem;
  line-height: 1.3;
}

.header-subtitle {
  font-size: .8125rem;
  color: #787878;
}