.layout {
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}

.layout__header,
.layout__footer {
  display: flex;
  align-items: stretch;
}

.layout__header {
  background-color: #f8f8f8;
  padding: 0 8px;
  flex: 1 0 auto;
}

.layout__footer {
  flex: 1 0 auto;
}

.layout__content {
  width: 100%;
  padding: 0 8px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 0 1 100vh;
}

.layout__content a,
.layout__footer a {
  text-decoration: none;
  color: inherit;
}
