.icon {
  display: inline-block;  
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.icon__message-sent, .icon__message-read {
  color: #19c700;
  width: 14px;
  height: 14px;
} 

.icon__message-sent {
  background-image: url(./img/sent.svg);
}

.icon__message-read {
  background-image: url(./img/read.svg);
}

.icon__header-add {
  width: 20px;
  height: 20px;
  background-image: url(./img/plus.svg);
}

.icon__header-write {
  width: 20px;
  height: 20px;
  background-image: url(./img/write.svg);
  margin-bottom: 5px;
}

.icon__footer-chats {
  width: 30px;
  height: 26px;
  background-image: url(./img/chats.svg);
}

.icon__footer-contacts {
  width: 26px;
  height: 26px;
  background-image: url(./img/contacts.svg);
}

.icon__footer-logo {
  width: 26px;
  height: 26px;
  background-image: url(./img/logo.svg);
}

.icon__footer-settings {
  width: 26px;
  height: 26px;
  background-image: url(./img/settings.svg);
}
