.search {
  border: none;
  height: 1.75rem;
  border-radius: 6px;
  padding: 0 .625rem 0 1.938rem;
  font-size: .875rem;
  width: 100%;
  background: #ededed url(images/search.svg) no-repeat .625rem center / .875rem;
}

.search,
.search::-webkit-search-cancel-button,
.search::-webkit-search-results-button {
  -webkit-appearance: none;
}

.search::placeholder {
  color: #8D8D8E;
}

.search:focus {
  outline: none;
  background-color: #e8e8e8;
}

.layout__content .search {
  margin: .4375rem 0;
  text-align: center;
}