.contact {
  display: flex;
  align-items: center;
  position: relative;
  padding: 7px 10px 7px 0;
}

.contact__content {
  display: inline-block;
}

.contact_large .contact__content {
  width: calc(100% - 62px);
  margin-left: 8px;
}

.contact_medium .contact__content {
  width: calc(100% - 60px);
  margin-left: 10px;
}

.contact_small .contact__content {
  width: calc(100% - 40px);
  margin-left: 12px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.content__body {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}

.content__counter {
  background: royalblue;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0 8px;
  min-width: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 12px;
}

.content__text {
  display: inline-block;
  overflow: hidden;
  color: #8e8e93;
  font-size: 15px;
}

.content__name {
  font-weight: bold;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__time {
  display: inline-block;
  color: #8e8e93;
  min-width: 55px;
}

.content__icon {
  display: inline-block;
  padding: 0 5px;
}

.content__text_message {
  max-height: 32px;
}

.content__text_online {
  color: #0981e1;
}

.contact_small .content__name {
  font-size: 18px;
}

.contact_small .content__text {
  font-size: 13px;
}
