.header-inner {
  display: flex;
  width: 100%;
}

.header-inner--sm {
  height: 43px;
}

.header-inner--lg {
  height: 49px;
}

.header-left, .header-right {
  flex: 0 0 72px;
}

.header-center {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 160px);
  text-align: center;
}

.header-center__top, .header-center__bottom {
  height: 1.3em;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.header-center__top {
  font-size: 17px;
  line-height: 1.3;
}

.header-center__bottom {
  font-size: 13px;
  color: #787878;
}

.header-left {
  flex-grow: 1;
}

.header-right {
  padding: 0 7px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}