.contact + .contact::before {
  content: '';
  background-color: #c9c8cd;
  height: 1px;
  position: absolute;
  top: 0;
  width: calc(100% - 60px);
}

.contact a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.contact + .contact_large::before {
  margin-left: 70px;
}

.contact + .contact_medium::before {
  margin-left: 70px;
}

.contact + .contact_small::before {
  width: calc(100% - 42px);
  margin-left: 52px;
}

.contact_hidden {
  display: none;
}
